.Foo {
    position: fixed;
    z-index: 210;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 40px;
    background-color: red;
    opacity: 0.3;
}

.Foo:hover {
    opacity: 1;
}

.ZiShu {
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    line-height: 40px;
}
