.Bar {
	flex-shrink: 0;
	width: 100%;
	height: 90px;
}
.TimeLine {
	overflow: hidden;
	box-sizing: border-box;
	height: 40px;
	padding: 0 10px;
	background-color: var(--CLRl6);
	.line {
		position: relative;
		margin: 10px 0;
		width: 100%;
		height: 20px;
		background-color: var(--CLRl5);
		.hline {
			position: absolute;
			top: 0;
			width: 1%;
			height: 100%;
			background-color: var(--CLRl4);
			cursor: pointer;
			&:hover {
				background-color: var(--CLRl3);
			}
		}
	}
}

.Action {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	align-items: center;
	justify-content: space-between;
}
