.SetChapterNode {
    display: flex;
    position: absolute;
    z-index: 200;
    right: 0;
    top: 0;
    border-left: 1px solid var(--CLRl3);
    background-color: var(--CLRl7);
    font-size: 0;
    .help {
        margin-bottom: 20px;
        font-size: 14px;
        opacity: 0.6;
    }
}

.Left {
    flex-grow: 1;
    height: 100%;
    padding: 20px;
    .Chapter {
        user-select: none;
        .cpname {
            line-height: 30px;
            font-size: 14px;
            color: var(--CLRl1);
        }
        .node {
            display: inline-flex;
            vertical-align: top;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
            height: 40px;
            padding: 0 10px;
            font-size: 16px;
            align-items: center;
            cursor: pointer;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.Right {
    width: 340px;
    height: 100%;
    border-left: 1px solid var(--CLRl3);
    padding: 20px;
    .split {
        height: 20px;
    }
    .Move {
        border: 1px solid var(--CLRl3);
        border-width: 1px 0 0;
        padding: 20px 0;
    }
    .Del {
        border: 1px solid var(--CLRl3);
        border-width: 1px 0;
        padding: 20px 0;
    }
}
