body {
    height: 100vh;
    margin: 0;
    font-size: 0;
    /* background-image: linear-gradient(
		-45deg,
		rgb(255, 255, 255) 49%,
		rgba(139, 139, 139, 0.185) 50%,
		rgb(255, 255, 255) 52%
	);
	background-size: 8px 8px; */
}

ul {
    list-style: none;
    padding: 0;
}

h6 {
    font-size: 16px;
}
h5 {
    font-size: 20px;
}
h4 {
    font-size: 24px;
}
h3 {
    font-size: 28px;
}
h2 {
    font-size: 32px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.253);
}
::-webkit-scrollbar-thumb {
    /* border-radius: 0.3vw; */
    background-color: rgb(255, 255, 255);
    background-color: rgb(148, 148, 148);
}
