.Show {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	font-size: 0;
	color: var(--CLRt2);
	.TimeLine {
		flex-shrink: 0;
		box-sizing: border-box;
		width: 100%;
		min-height: 40px;
		padding: 5px 10px;
		background-color: var(--CLRl6);
	}
	.List {
		flex-grow: 1;
		flex-shrink: 1;
		overflow-y: auto;
	}
	.Action {
		display: flex;
		flex-shrink: 0;
		box-sizing: border-box;
		width: 100%;
		height: 50px;
		padding: 0 10px;
		justify-content: space-between;
		align-items: center;
	}
}

.One {
	margin: 0 10px 10px;
	background-color: var(--CLRl7);
	color: var(--CLRt2);

	.title {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
		background-color: var(--CLRl6);
		justify-content: space-between;
		font-size: 16px;

		.life {
			font-size: 14px;
			padding: 0 20px;
			color: var(--CLRl1);
		}
		.iconset {
			margin-left: auto;
		}
		.icondel {
			padding-left: 10px;
		}
	}
	.titlefocu {
		background-color: var(--CLRl4);
	}
	.text {
		box-sizing: border-box;
		padding: 20px;
		font-size: 14px;
		white-space: pre-wrap;
		word-break: break-all;
	}
	.line {
		margin: 0 20px;
		height: 1px;
		background-color: var(--CLRl3);
	}
	.words {
		margin: 5px 0 5px 20px;
		font-size: 14px;
		.w2 {
			padding-right: 20px;
		}
	}
	.npc {
		display: flex;
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px;
		min-height: 40px;
		line-height: 40px;
		font-size: 14px;
		align-items: flex-start;
		white-space: nowrap;
		.box {
			white-space: pre-wrap;
		}
	}
}

.TimeLine {
	.line {
		position: relative;
		margin: 5px 0;
		width: 100%;
		height: 20px;
		background-color: var(--CLRl5);

		.hline {
			position: absolute;
			top: 0;
			box-sizing: border-box;
			width: 1%;
			height: 100%;
			border: 1px solid var(--CLRl6);
			border-width: 0 1px;
			background-color: var(--CLRl2);
			opacity: 0.3;
			cursor: pointer;
			&:hover {
				opacity: 1;
				z-index: 100;
			}
		}
		.foculine {
			opacity: 1;
		}
	}
	.linename {
		position: absolute;
		left: 10px;
		top: 0;
		line-height: 20px;
		font-size: 12px;
		color: var(--CLRt2);
	}
}
