.Text {
	box-sizing: border-box;
	padding: 10px 0;
	background-color: var(--CLRl8);
}

.Links {
	// 线索
	padding-bottom: 10px;
	white-space: nowrap;
	.name {
		margin-right: 10px;
		font-size: 14px;
		color: var(--CLRt2);
	}
	.aline {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 10px 0;
		align-items: center;
		flex-wrap: wrap;

		.event_line {
			padding: 3px 10px;
			cursor: pointer;
		}
		.hold {
			background-color: var(--CLRl7);
		}
		.wait_set {
			margin-left: 10px;
			cursor: pointer;
		}
	}
	.icon {
		padding: 0 10px;
	}
}
.Npcs {
	.npcbox {
		margin-left: -10px;
	}
}
.DateSE {
	.life {
		display: flex;
		margin: 10px 0 10px 10px;
		align-items: flex-end;
		.split {
			padding: 0 10px;
			height: 32px;
			line-height: 32px;
			font-size: 16px;
		}
	}
}

.Confirm {
	margin: 20px 10px;
}

.can_click {
	cursor: pointer;
}
