.Outline {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 200px;
	height: 300px;
	background-color: var(--CLRl6);
	color: var(--CLRt2);
}

.Head {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding: 0 10px;
	background-color: var(--CLRl7);
	align-items: center;
	font-size: 14px;
	white-space: nowrap;
	.txt {
		margin-right: auto;
	}
	.cname {
		opacity: 0.5;
	}
	.icon {
		margin: 0 0 0 10px;
		cursor: pointer;
		&:hover {
			color: rgb(94, 255, 255);
		}
	}
}

.Show {
	overflow-y: auto;
	box-sizing: border-box;
	height: calc(100% - 30px);
	padding: 10px;
	font-size: 14px;
	white-space: pre-wrap;
}
