.Slider {
	font-size: 0;
	.soft-slider-container {
		display: flex;
	}
	.soft-slider-sliderbox {
		display: flex;
		position: relative;
		flex-grow: 1;
		height: 28px;
		align-items: center;
		user-select: none;
	}
	.soft-slider-line {
		display: flex;
		width: 100%;
	}
	.soft-slider-unactive {
		width: 33%;
		height: 4px;
		background-color: rgb(200, 198, 196);
	}
	.soft-slider-active {
		width: 33%;
		height: 4px;
		background-color: rgb(96, 94, 92);
	}
	.soft-slider-thumb {
		display: block;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		width: 16px;
		height: 16px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(96, 94, 92);
		border-radius: 10px;
		background: rgb(255, 255, 255);
		transition: border 0.3s linear;
		&:hover {
			border-color: #66ccff;
		}
	}
}
