.ListCtrl {
    display: flex;
    grid-area: a;
    width: 100%;
    height: 100%;
    background-color: var(--CLRl7);
    align-items: center;
    justify-content: space-between;
    .btn {
        padding: 0 10px;
    }
    .del {
        margin-right: auto;
    }
}
