.block {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	min-height: 40px;
	padding: 0 20px;
	align-items: flex-start;
	flex-wrap: nowrap;
	white-space: nowrap;
	.left {
		flex-shrink: 0;
		display: flex;
		width: 110px;
		height: 38px;
		align-items: center;
		.label {
			height: 38px;
		}
	}

	.rest {
		flex-grow: 1;
		flex-shrink: 1;
		white-space: normal;
	}
}
