.Workspace {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 600px;
    height: 600px;
    background-color: var(--CLRl7);
    user-select: none;
    // 禅模式
    .zenmodel {
        position: fixed;
        z-index: 2000;
        outline-offset: -5px;
        left: 0;
        top: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        background-color: var(--CLRl7);
        .Write {
            height: 100%;
        }
    }
    // 普通模式
    .commonmodel {
        position: relative;
        overflow: hidden;
        height: calc(100vh - 30px);
    }
}

.Head {
    display: flex;
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 30px;
    background-color: var(--CLRl6);
    color: var(--CLRt2);
    font-size: 0;
    user-select: none;
    white-space: nowrap;
    .one {
        display: flex;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border: 1px solid var(--CLRl5);
        border-width: 0 1px 0 0;
        font-size: 0;
        background-color: var(--CLRl6);
        align-items: center;
        cursor: pointer;
        &:hover {
            font-size: 12px;
        }
        .name {
            font-size: 12px;
            color: var(--CLRt2);
        }
        .icon {
            margin-left: 5px;
            width: 18px;
            font-size: inherit;
        }
    }
    .focu {
        background-color: var(--CLRl5);
        font-size: 12px;
        .name {
            font-size: 12px;
            color: var(--CLRt2);
        }
    }
}

.CtrlBar {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    overflow: hidden;
    outline: 1px solid var(--CLRl3);
    outline-offset: -1px;
    width: 100%;
    height: 70px;
    background-color: var(--CLRl7);
    white-space: nowrap;
    opacity: 0;
    color: var(--CLRt2);
    white-space: nowrap;
    transition-delay: 1s;
    &:hover {
        opacity: 1;
        transition-delay: 0s;
        overflow-x: auto;
    }
    .Lenbar {
        display: flex;
        align-items: center;
        height: 30px;

        .label {
            padding: 0 10px;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                color: var(--CLRl1);
            }
        }
        .slider {
            flex-shrink: 0;
            width: 300px;
        }
    }
    .Model {
        display: flex;
        height: 30px;
        align-items: center;
        .zen {
            flex-shrink: 0;
            padding: 0 10px;
            cursor: pointer;
        }
    }
}

.Write {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: calc(100% - 30px);

    .editer {
        display: flex;
        position: relative;
        z-index: 100;
        margin: auto;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .outline {
        // 图层要低于编辑器
        position: absolute;
        z-index: 50;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        outline: 1px solid var(--CLRl6);
    }
    .readctrl {
        // 图层要高于编辑器

        position: absolute;
        z-index: 200;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 30px;
        background-color: var(--CLRl6);
        opacity: 0;
        transition-delay: 1s;

        &:hover {
            opacity: 1;
            transition-delay: 0s;
        }
        .onec {
            display: inline-block;
            vertical-align: top;
            width: 25%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            color: var(--CLRt2);
            cursor: pointer;
            &:hover {
                background-color: var(--CLRl5);
            }
        }
    }
}
