.Label {
    display: block;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: var(--CLRl6);
    font-size: 14px;
    color: var(--CLRt2);
}

.FullScreen {
    .btn {
        margin: 10px 0 10px 10px;
    }
}

.Theme {
    margin: 10px;
    .clrblock {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.Scroll {
    margin: 10px;
    width: 400px;
}
