.EntryBar {
    /* display: none; */
    position: fixed;
    z-index: 100;
    left: 10px;
    top: 10px;
    font-size: 0;
    overflow: hidden;
    width: 40px;
    min-height: 40px;
    /* background-color: red; */
    opacity: 0.3;
    transition-delay: 1s;
    user-select: none;
}
.EntryBar:hover {
    overflow: unset;
    transition: all linear 0.3s;
    transition-delay: 0s;
    opacity: 1;
}

.Item {
    display: flex;
    width: 40px;
    height: 40px;
    white-space: nowrap;
}
.Item:hover {
    width: 400px;
}

.ItemIcon {
    display: flex;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.ItemContainer {
    display: flex;
    transition: all linear 0.6s;
    opacity: 0.6;
    flex-shrink: 0;
    width: 300px;
    /* background-color: antiquewhite; */
}
.Item:hover .ItemContainer {
    opacity: 1;
}

.ItemTitle {
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
}

.ItemIcon2 {
    width: 30px;
    cursor: pointer;
    opacity: 0.6;
    font-size: 18px;
}
.ItemIcon2:hover {
    opacity: 1;
    color: blue;
}
