.Foo {
    position: fixed;
    z-index: 800;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 40px;
    background-color: red;
    opacity: 0.3;
}

.Foo:hover {
    opacity: 1;
    height: unset;
}

.ZiShu {
    display: flex;
    box-sizing: border-box;

    padding-left: 20px;
    height: 40px;
    font-size: 16px;
    align-items: center;
}
.ZiShuCell {
    margin: 0 0 0 20px;
    width: 100px;
}
.ZiShuCell:hover {
    /* font-weight: 700; */
}

.FormatT {
    box-sizing: border-box;

    padding: 20px;
}

.FormatTForm {
    margin: 0 20px;
    /* width: 200px; */
}
.FormatTText {
    margin-right: 10px;
    flex-shrink: 0;
    width: 100px;
}
