.Option {
	min-height: 100vh;
	background-color: var(--CLRl7);
	.label {
		display: block;
		box-sizing: border-box;
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		background-color: var(--CLRl6);
		font-size: 14px;
		color: var(--CLRt2);
	}
}
.Theme {
	margin: 10px;
	.clrblock {
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		&:hover {
			transform: translateY(-5px);
		}
	}
}

.FullScreen {
	.btn {
		margin: 10px 0 10px 10px;
	}
}

// 敏感词
.Sensitive {
	.new {
		margin: 10px;
	}
	.List {
		display: flex;
		.one {
			margin: 0 0 0 10px;
			cursor: pointer;
		}
	}
}
