.SaveLocal {
    margin: 10px;
}

.RemoteSet {
    .Form {
        margin: 10px;
    }
}

.Remote {
    .Action {
        margin: 10px;
    }
    .split {
        margin: 10px 0;
        height: 2px;
        background-color: var(--CLRl5);
    }
}
