.Search {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    .Bar {
        margin: 10px;
    }
    .Result {
        margin: 10px 0;
    }
}

.Bar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font-size: 40px;
    .ipt {
        margin-right: 10px;
        width: 400px;
    }
}

.NodeLine {
    flex-shrink: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    background-color: var(--CLRl7);
    .box {
        display: flex;
        margin: 10px 0;
        width: 100%;
        height: 20px;
        background-color: var(--CLRl6);
        .node {
            width: 1%;
            height: 100%;
            cursor: pointer;
            &:hover {
                opacity: 1;
                background-color: var(--CLRl4);
            }
        }
        .nodehigh {
            background-color: var(--CLRl5);
            opacity: 0.5;
        }
    }
}

.Result {
    overflow: auto;
    min-height: 200px;
    .nore {
        margin-left: 10px;
    }
}

.One {
    user-select: none;
    cursor: pointer;
    .head {
        cursor: pointer;
    }
    .node {
        margin: 10px;
        // height: 200px;
        background-color: var(--CLRl7);
        .name {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            height: 36px;
            align-items: center;
            line-height: 36px;
            border-bottom: 1px solid var(--CLRl5);
            padding-left: 10px;
            font-size: 14px;
            .edit {
                margin-left: auto;
                padding: 0 10px;
            }
        }
        .text {
            box-sizing: border-box;
            padding: 10px;
            font-size: 14px;
            white-space: pre-wrap;
        }
    }
    .splitline {
        display: flex;
        width: 100%;
        height: 10px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        line-height: 10px;
        .ball {
            margin: 0 2px;
            border-radius: 50%;
            width: 2px;
            height: 2px;
            background-color: var(--CLRt2);
        }
        // background-color: var(--CLRl3);
    }
}
