.Form {
    .row {
        display: flex;
        margin: 10px 0;
        width: 100%;
        align-items: center;
    }
    .label {
        box-sizing: border-box;
        width: 120px;
        padding-right: 10px;
        text-align: right;
        font-size: 16px;
    }
}
