.Label {
    display: block;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: var(--CLRl6);
    font-size: 14px;
    color: var(--CLRt2);
}

.Font {
    margin: 10px;
    .fontsize {
        margin-bottom: 10px;
        width: 300px;
    }
    .fontfamily {
        .line {
            width: min-content;
            padding: 0 10px;
            font-size: 16px;
            white-space: nowrap;
            cursor: pointer;
            opacity: 0.8;
            line-height: 30px;
            &:hover {
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.158);
            }
        }
        .fontuse {
            opacity: 1;
            background-color: rgba(255, 255, 255, 0.158);
        }
    }
}

// 敏感词
.Sensitive {
    .new {
        margin: 10px;
    }
    .List {
        display: flex;
        .one {
            margin: 0 0 0 10px;
            cursor: pointer;
        }
    }
}
